<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ titulo }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="http://icon-icons.com/icons2/906/PNG/128/invoice_icon-icons.com_70095.png">
</head>
<body>
<div class="container" style="width: 40%">
  <h2>{{ titulo }}</h2>
  <hr>
  <form action={% url 'actualizar' id_factura %} method="POST">
  {% csrf_token %}


    <div class="form-group">
      <label >Origen:</label>
      <select class="form-control" id="Origen" name="Origen">
        <option value="Guayaquil"
        	{% if Nombrefact == "Guayaquil"  %}
        	selected="selected" 
        	{% endif %}
        >Guayaquil</option>
        <option value="Quito" 
        {% if Nombrefact == "Quito"  %}
        	selected="selected" 
        	{% endif %}
        	>Quito</option>
        <option value="Manta"
        {% if Nombrefact == "Manta"  %}
        	selected="selected" 
        	{% endif %}
        	>Manta</option>
        <option value="Machala"
        {% if Nombrefact == "Machala"  %}
          selected="selected" 
          {% endif %}
          >Machala</option>
        <option value="Babahoyo"
        {% if Nombrefact == "Babahoyo"  %}
          selected="selected" 
          {% endif %}
          >Babahoyo</option>
      </select>
    </div>

    <div class="form-group">
      <label >Destino:</label>
      <select class="form-control" id="destino" name="destino">
        <option value="Guayaquil"
          {% if Nombrefact == "Guayaquil"  %}
          selected="selected" 
          {% endif %}
        >Guayaquil</option>
        <option value="Quito" 
        {% if Nombrefact == "Quito"  %}
          selected="selected" 
          {% endif %}
          >Quito</option>
        <option value="Manta"
        {% if Nombrefact == "Manta"  %}
          selected="selected" 
          {% endif %}
          >Manta</option>
        <option value="Machala"
        {% if Nombrefact == "Machala"  %}
          selected="selected" 
          {% endif %}
          >Machala</option>
        <option value="Babahoyo"
        {% if Nombrefact == "Babahoyo"  %}
          selected="selected" 
          {% endif %}
          >Babahoyo</option>
      </select>
    </div>

    <div class="form-group">
      <label>Fecha emision:</label>
      <input type="date" class="form-control" id="fechaEmision" name="fechaEmision" required="required" value="{{ fechaEmision }}">
    </div>

    <div class="form-group">
      <label>Puesto :</label>
      <input type="number" class="form-control" id="Puesto" name="Puesto" required="required" value="{{ Puesto }}">
    </div>
    
    <button type="submit" class="btn btn-default">{{ action }}</button>
  </form>
</div>

</body>
</html>