<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Manejo de facturas</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<link rel="icon" href="http://icon-icons.com/icons2/906/PNG/128/invoice_icon-icons.com_70095.png">
	</head>
	<body>
		<div class="container" style="width: 55%">
		  	<h2>Manejo de facturas</h2>
			{% if ticket %}
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>fechaEmision</th>
								<th>Origen</th>
								<th>Destino</th>
								<th>Precio</th>
								<th>Adquiriente</th>
								<th>Puesto</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for t in ticket %}
								<tr>
								<td> {{ t.fechaEmision }} </td>
								<td> {{ t.Origen }} </td>
								<td> {{ t.Destino }} </td>
								<td> {{ t.Precios }} </td>
								<td> {{ t.Adquiriente }} </td>
								<td> {{ t.Puesto }} </td>
								<td><a class="btn btn-default"  href="/tickets/FormActualizar/{{ t.id }}" role="button">Editar</a>
									<a class="btn btn-default" href="#" onclick="seguro({{f.id}})" role="button">Eliminar</a>
									
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
			  	</div>
			{% else %}
				<h3>No hay tickets que presentar</h3>
			{% endif %} 
			<a class="btn btn-default" href="/facturas/crear/" role="button">Nuevo Ticket</a>
		</div>
		<script>
			function seguro(Id) {
				var href = "/facturas/eliminar/"+Id+"";
				
			    if (confirm("Esta seguro que desea eliminar el ticket?") == true) {
			        window.location=href;
			    } 
			}
		</script>
	</body>
</html>
